{{ form_start(addToCartForm, {
    attr: { class: 'cart-add-controls d-flex align-items-center justify-content-baseline' }
}) }}
    {% if addToCartForm.color is defined %}
        <div {{ stimulus_controller('color-square', {
            colorId: addToCartForm.vars.data.product.colors[1].id
        }) }}
        >
            {{ form_widget(addToCartForm.color, {
                attr: { 'data-color-square-target': 'select' }
            }) }}

            {% for color in addToCartForm.vars.data.product.colors %}
                <button class="color-square" type="button" data-action="color-square#selectColor" data-color-square-target="colorSquare"
                        data-color-id ="{{ color.id }}"
                        style="background-color: rgb({{ color.red }}, {{ color.green }}, {{ color.blue }})"></button>
            {% endfor %}
        </div>
    {% endif %}

    {{ form_widget(addToCartForm.quantity, {
        attr: { class: 'mx-3' }
    }) }}

    <button class="btn btn-info btn-sm" formnovalidate>
        +
    </button>
{{ form_end(addToCartForm) }}

<div>
    {{ form_errors(addToCartForm) }}
    {% if addToCartForm.color is defined %}
        {{ form_errors(addToCartForm.color) }}
    {% endif %}
    {{ form_errors(addToCartForm.quantity) }}
</div>
