@import '~bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

a, a:hover  {
    color: #000;
}

h1 {
    font-size: 1.7rem;
}

.header {
    background-color: #343a40;
    border-bottom: 2px solid #BA1414;
    padding: 0;
}

.header .logo {
    width: 50px;
    height: auto;
}

.footer {
    background-color: #343a40;
    padding: 30px;

    border-top: 2px solid #BA1414;
    color: #fff;
    margin-top: 30px;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

.footer a:hover {
    color: #efefee;
}

.component-light {
    border: 1px solid #efefee;
    box-shadow: 0 0 7px 4px #efefee;
    border-radius: 5px;
}

.component-light ul li a:hover {
    background: #add8e6;
}
.component-light ul li a.selected {
    background: #efefee;
}

.aside-collapsed {
    padding: 0 15px;
}

/**
 * Products
 */
.product-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-image h3 {
    font-size: 1.2rem;
}
.product-show img {
    max-width:100%;
    max-height:100%;
}

.cart-add-controls input {
    width: 80px;
}
.cart-add-controls select {
    max-width: 190px;
}

.cart .cart-item {
    border-bottom: 1px solid #efefee;
    transition: opacity 500ms;
}

.cart .cart-item.removing {
    opacity: 0;
}

.color-square {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: border-color 500ms linear;
}
.color-square.selected {
    border: 2px solid black
}

.cart .cart-item input {
    width: 60px;
}

.search-preview {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 44px;
}
.search-preview img {
    width: 50px;
}

/**
 * Admin area
 *
 * Reference: https://getbootstrap.com/docs/4.6/examples/dashboard/
 */
.sidebar {
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    font-size: .875rem;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.modal-body button {
    display: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 200ms;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}
.fade-enter-to, .fade-leave-from {
    opacity: 1;
}